header {
    display: flex;
    flex-direction: row;
    height: 80px;
    justify-content: space-between;
    font-size: 18pt;
    margin: 0 min(2%, 2em);
}

header a {
    place-self: center;
}

header a:hover {
    text-decoration: underline;
}

.logo {
    height: 4vh;
    place-self: center;
}

.icon {
        display: none;
 }

#burger {
        display: none;
}

@media only screen and (max-width: 700px) {
    header {
        transition: 1s;
        background-color: var(--color-background);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 0;
        max-width: 100dvw;
        margin: 0;
    }

    .login, .logo {
        display: none;
    }

    #burger {
        background-color: var(--color-background);
        flex-direction: column;
        z-index: 95;
        grid-area: burger;
        font-size: 28pt;
        justify-content: space-between;
        transition: 1s;
        flex: 1;
        height: 100vh;
        max-width: 100vw;
        margin: 0;
        padding: 0.5em;
        outline: 2px solid var(--color-text);
    }

    #burger a {
        margin-bottom: 0.5em;
    }

    #burger .login{
        display: block
    }

    .icon {
        display: block;
        font-size: 40pt;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 96;
    }

    .navlink {
        display: none;
    }
}