header {
    display: flex;
    flex-direction: row;
    height: 80px;
    font-size: 18pt;
    margin: 0 min(2%, 2em);
}

.navlinks {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
}

header a {
    place-self: center;
}

header a:hover {
    text-decoration: underline;
}

.logo {
    height: 4vh;
    place-self: center;
}

.icon {
        display: none;
 }

.sidenav {
    display: none;
}

#burger-icon {
    display: none;
}

@media only screen and (max-width: 850px) {
    header {
        display: none;
    }

    .logo {
        place-self: center;
        height: 60%;
        width: 60%;
    }

    .nav-container {
        display: flex;
        flex-direction: column;
    }

    #burger-icon {
        display: block;
        font-size: 40pt;
    }

    .sidenav button {
        width: 250px;
        background-color: var(--color-background);
    }

    .sidenav {
        display: flex;
        flex-direction: column;
        height: 110%;
        width: 300px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: -300px;
        background-color: var(--color-background);
        padding-top: 70px;
        transition: left 0.5s ease;
        border: 2px solid var(--color-text);
    }

    .sidenav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .sidenav a:hover {
        color: #111;
    }

    .sidenav.active {
        left: 0;
    }

    .sidenav .close {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 48pt;
    }
}