.theme-switcher {
    place-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.theme-picker-title {
    margin-top: 2em;
    text-align: center;
}

.theme-btn[aria-pressed="true"] {
    color: var(--color-background);
    background-color: var(--color-text);
    border: 2px solid var(--color-text);
}

.theme-btn[aria-pressed="true"]:hover {
    box-shadow: none;
}