<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Declan Dover's portfolio about page">
    <meta name="keywords" content="HTML, CSS, JavaScript, UI, UX, Student, Portfolio, Declan, Dover">
    <meta name="author" content="Declan Dover">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;
    0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/global-styles/reset.css">
    <link rel="stylesheet" href="../../assets/global-styles/typography.css">
    <link rel="stylesheet" href="../../assets/global-styles/global.css">
    <link rel="stylesheet" href="../../utils/mixins.css">
    <link rel="stylesheet" href="../../utils/variables.css">
    <link rel="stylesheet" href="home.css">
    <script src="https://kit.fontawesome.com/7756f4b349.js" crossorigin="anonymous"></script>
    <script src="home.js" defer></script>
    <script src="../header/header.js" type="text/javascript" defer></script>
    <script src="../footer/footer.js" type="text/javascript" defer></script>
    <script src="../navbar/navbar.js" type="text/javascript" defer></script>
    <link rel="icon" type="image/x-icon" href="../../assets/images/Logo.svg">
    <title>Home - DD</title>
</head>
<body>
  <header-component></header-component>
    <div class="home-container">
        <nav class="home-nav-bar">
        <div class="nav-container">
            <a href="../home/home.html">
                <div class="homebutton" role="button">
                      Home
                </div>
            </a>
            <a href="../skills/skills.html">
                <div class="skillsbutton" role="button">
                    Skills
                </div>
            </a>
            <a href="../projects/projects.html">
                <div class="projectsbutton" role="button">   
                    Projects                      
                </div>
            </a>
            <a href="../contact/contact.html">
                <div class="contactbutton" role="button">
                    Contact
                </div>
            </a>
        </div>
    </nav>
        <main class="text-area">
          <h2>About Declan Dover</h2>
          <hr class="solid">
          <div class="content">
              <p class="bio">
                    I am an IT student current studying at Nelson Marlborough Institute
                    of technology. My main interests are in UI/UX design and full stack
                    software development.
                    In my spare time I enjoy playing football and exploring the outdoors. <br><br>
                    This site is a place for me to share and explain some of my IT and design projects
                    and skills. <br><br>
                    Please feel free to reach out to me through the contact page or one of my 
                    links!
                </p>
                <img src="../../assets/images/about-images/about-photo.jpeg" alt="Photo of Declan Dover" class="profile-img">
            </div>
        </main>
    </div>
    <footer-component></footer-component>
</body>
</html>