.text-area {
    height: 100%;
    grid-area: main;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: rgb(255,255,255);
    padding: 2rem;
    min-width: none;
}

.content {
    display: grid;
    grid-template-columns: 1fr 2rem 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    'bio . img';
    min-width: none;
}

.bio {
    grid-area: bio;
}

.profile-img {
    grid-area: img;
    max-width: 375px;
    place-self: center;
    border: 2px solid black;
    margin-top: 2em;
    min-width: none;
}

@media only screen and (max-width: 900px) {
    .content {
        display: flex;
        flex-direction: column;
    }

    .profile-img {
        max-width: 100%;
    }
}