.title-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    height: calc(90dvh - 80px);
    align-items: center
}

.content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.details {
    font-size: 14pt;
    text-align: center;
    line-height: 30pt;
}

.content {
    flex: 1;
    justify-content: center;
}

form {
    place-self: center;
    font-size: 14pt;
}

.input {
  background-color: var(--color-background);
  min-width: 20rem;
  line-height: 2rem;
  border: 2px solid var(--color-accent);
  transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s,
   color .3s cubic-bezier(.25,.01,.25,1) 0s, 
   background .2s cubic-bezier(.25,.01,.25,1) 0s;
}

.input:hover, .input:focus, .input-group:hover .input {
  outline: none;
  border-color: var(--color-text);
}

.input-group:hover .label, .input:focus {
  color: #05060fc2;
}


@media only screen and (max-width: 700px) {
    .content-container {
        display: flex;
        flex-direction: column;
    }

    .title-container {
        grid-template-columns: 1fr;
        grid-template-rows: 4fr 1fr;
    }
}