
:root,
[data-selected-theme="green"] {
  --color-background: #A2FFA5;
  --color-text: #034435;
  --color-accent: #00CC66;
}

[data-selected-theme="blue"] {
  --color-background: #55dde0;
  --color-text: #2B4150;
  --color-accent: #00a7b6;
}

[data-selected-theme="pink"] {
  --color-background: #DFB2F4;
  --color-text: #463546;
  --color-accent: #F06EFC;
}

[data-selected-theme="orange"] {
  --color-background: #FA7D61;
  --color-text: #1E1E24;
  --color-accent: #c44d16;
}

[data-selected-theme="boring"] {
  --color-background: rgb(215, 215, 215);
  --color-text: rgb(40, 40, 40);
  --color-accent: rgb(140, 140, 140);
}