body {
    display: flex;
    min-height: 100vh;
    min-width: 300px;
    flex-direction: column;
    background-image: url('../../assets/images/background-images/skills-page-bg.svg');
    background-repeat: no-repeat;
    background-position: top right;
    background-color: var(--bg-color);
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding: 0px;
    margin: 0px;
}

img {
    border-radius: 0.5em;
}

.text-area {
    border-radius: 0.5em;
}

.content {
    border-radius: 0.5em;
}

a {
    text-decoration: inherit;
}  

a:visited {
    color: inherit;
}

.home-nav-bar a:visited {
    color: white;
}

.home-container {
    display: grid;
    grid-template-rows:1fr 1fr;
    grid-template-columns: 2rem 1fr 4fr 2rem;
    grid-template-areas: 
    '. aside main .'
    '. aside main .';
    flex: 1;
}

.home-header {
    display: flex;
    flex-direction: row;
    width: 100vw;
    line-height: 2rem;
    background-color: var(--darkbg);
    color: white;
    margin-bottom: 2rem;
    align-items: center;
    border-bottom: 1px solid black;
}

.title-container:hover {
    color: transparent;
    background: repeating-linear-gradient(90deg, var(--color1), var(--color2),
    var(--color3), var(--color4), var(--color3), var(--color2), var(--color1)); 
    background-size: 50%;
    background-position: 0 50%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-background 1s infinite linear forwards;
}

@keyframes animate-background {
    0% {
        background-position: 0 100%;
    }
    100% {
        background-position: 100% 200%;
    }
}

h1 {
    margin: 2rem;
}

.logo {
    max-height: 4rem;
    border-radius: 50%;
    float: right;
    position: absolute;
    right: 0;
    margin-right: 2rem;
}

.home-nav-bar {
    grid-area: aside;
    margin-right: 2em;
}

.home-footer {
    color: white;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: 
    'links'
    'copyright';
    font-weight: 500;
    bottom: 0;
    height: 80px;
    width: 100%;
    margin-top: 2em;
    background-color: var(--darkbg);
    padding: 0px;
    border-top: 1px solid black;
}

.home-footer p {
    margin: 5px;
}

.home-footer p a {
    color: white;
}

.home-footer p a:visited {
    color: white;
}

.home-footer p a:hover, .home-footer p a:focus {
    color: var(--color3);
}

.home-footer p a:active {
    color: var(--color4);
}

.nav-container {
    top: 140px;
    align-self: end;
    position: sticky;
    text-align: center;
    font-size: 18pt;
    display: grid;
    grid-template-rows: 75px 75px 75px 75px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    'home'
    'skills'
    'projects'
    'contact';
    color: white;
}

.nav-container a div {
    margin: 0px;
    line-height: 75px;
    text-decoration: none;
    color: white;
    padding: 0px;
    margin: 0px;
}

.nav-container div:hover, .nav-container div:focus {
    background-color: var(--darkbg);
    color: white;
}

.nav-container div:active {
    background-color: white;
    color: black;
    border: 2px solid;
}

.homebutton {
    grid-area: home;
    background-color: var(--color1);
    border-radius: 0.5em 0.5em 0 0;
}

.skillsbutton {
    grid-area: skills;
    background-color: var(--color2);
}

.projectsbutton {
    grid-area: projects;
    background-color: var(--color3);
}

.contactbutton {
    grid-area: contact;
    background-color: var(--color4);
    border-radius: 0 0 0.5em 0.5em;
}

.copyright {
    grid-area: copyright;
    font-size:10pt;
    vertical-align: bottom;
}

.links {
    grid-area: links;
    text-align: right;
    font-size: 16pt;
}

.solid {
    color: black;
    height: 1px;
}

@media only screen and (max-width: 600px) {
    .home-container {
    grid-template-columns: 0.5rem 1fr 4fr 0.5rem;
    }
    .home-nav-bar {
    grid-area: aside;
    margin-right: 0;
    }
    body {
        background-position-x: 90%;
    }
}

@media only screen and (max-width: 520px) {
    .logo {
        display: none;
    }
}

