body {
    background-color: var(--color-background);
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: "Questrial", sans-serif;
    font-weight: 550;
    font-style: normal;
    padding: 0;
    margin: 0;
    transition: 1s;
}

header {
    display: flex;
    flex-direction: row;
    height: 10vh;
    padding: 0.5em;
    justify-content: space-between;
    font-size: 18pt;
}

header a {
    place-self: center;
}

header a:hover {
    text-decoration: underline;
}

.logo {
    height: 4vh;
    place-self: center;
}

.theme-picker-title {
    margin-top: 2em;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: row;
    margin: 4em 0;
    padding: 0 2em;
    text-align: left;
    transition: 1s;
    justify-content: space-between;
    background-color: var(--color-text);
    color: var(--color-background);
}

.text {
    width: 50%;
}

.links {
    font-size: 28pt;
}

.theme-switcher {
    place-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.theme-switcher button {
    border-radius: var(--border-radius);
    background-color: transparent;
    border: 2px solid var(--color-text);
    padding: 0.5em;
    font-size: 14pt;
    min-width: 200px;
    color: inherit;
    transition: 0.5s;
    margin: 0.5em;
}

button:hover {
    box-shadow: 7px 6px 0 0 var(--color-text);
    transition: 0.5s;
}

button:active {
    box-shadow: inset 7px 6px 0 0 var(--color-text);
    transition: 0.5s;
}

.theme-btn[aria-pressed="true"] {
    color: var(--color-background);
    background-color: var(--color-text);
    border: 2px solid var(--color-text);
}

.theme-btn[aria-pressed="true"]:hover {
    box-shadow: none;
}

.decorative {
    font-size: 70pt;
    font-weight: 900;
    place-self: center;
    text-align: center;
}

.links a:hover {
    text-decoration: underline;
    transition: .5s;
}

.login {
    background: transparent;
    color: inherit;
    border: 2px solid var(--color-text);
    transition: 0.5s;
}

.icon {
        display: none;
    }

@media only screen and (max-width: 600px) {
    .decorative {
        font-size: 40pt;
    }
    .content {
        display: flex;
        flex-direction: column;
    }
    header {
        display: flex;
        flex-direction: column;

        justify-content: space-evenly;
        height: 20vh;
    }
    .login {
        display: none;
    }
    .logo {
        display: none;
    }
    #burger {
        background-color: var(--color-background);
        flex-direction: column;
        z-index: 95;
        grid-area: burger;
        font-size: 28pt;
        justify-content: space-between;
        transition: 1s;
        flex: 1;
        height: 100vh;
        width: 100%;
    }
    #burger a {
        margin: 0.5em 0;
    }
    #burger .login{
        display: block
    }
    .text {
        width: 100%;
    }
    .icon {
        display: block;
        font-size: 40pt;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 96;
    }
    .navlink {
        display: none;
    }
}