body {
    background-color: var(--color-background);
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    height: 100dvh;
    font-family: "Questrial", sans-serif;
    font-weight: 550;
    font-style: normal;
    padding: 0;
    margin: 0;
    transition: 1s;
    min-width: 360px;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
}

.content-container {
    margin: 4em 0;
}

.content {
    display: flex;
    flex-direction: row;
    padding: min(2em, 8%);
    text-align: left;
    transition: 1s;
    justify-content: space-between;
}

.content-container > div:nth-child(2n+1) {
    background-color: var(--color-text);
    color: var(--color-background);
}

.content-container > div:nth-child(2n) {
    background-color: var(--color-background);
    color: var(--color-text);
    margin-top: 0;
}

.text {
    width: 50%;
}

.links {
    font-size: 28pt;
}

button:hover {
    box-shadow: 7px 6px 0 0 var(--color-text);
    transition: 0.5s;
}

button:active {
    box-shadow: inset 7px 6px 0 0 var(--color-text);
    transition: 0.5s;
}

.decorative {
    font-size: clamp(8vw, 80pt, 15vw);
    font-weight: 900;
    place-self: center;
    text-align: center;
}

.links a:hover {
    text-decoration: underline;
    transition: .5s;
}

@media only screen and (max-width: 600px) {
    .content {
        display: flex;
        flex-direction: column;
    }
    .text {
        width: 100%;
    }
}