<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Declan Dover's portfolio projects page">
    <meta name="keywords" content="HTML, CSS, JavaScript, UI, UX, Student, Portfolio, Declan, Dover, projects">
    <meta name="author" content="Declan Dover">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/global-styles/reset.css">
    <link rel="stylesheet" href="../../assets/global-styles/typography.css">
    <link rel="stylesheet" href="../../assets/global-styles/global.css">
    <link rel="stylesheet" href="../../utils/mixins.css">
    <link rel="stylesheet" href="../../utils/variables.css">
    <link rel="stylesheet" href="projects.css">
    <link rel="icon" type="image/x-icon" href="../../assets/images/Logo.svg">
    <script src="https://kit.fontawesome.com/7756f4b349.js" crossorigin="anonymous"></script>
    <script src="home.js" defer></script>
    <title>Projects - DD</title>
</head>
<body>
  <header class="home-header">
    <a href="../home/home.html">
            <div class="title-container">
      <h1 class="title">Portfolio_Declan Dover</h1>
    </div>
    </a>
    <img class="logo" src="../../assets/images/Logo.svg" alt="dd logo icon">
        </header>
  <div class="home-container"> 
          <nav class="home-nav-bar">
                <div class="nav-container">
                  <a href="../home/home.html">
                    <div class="homebutton" role="button">
                      Home
                    </div>
                  </a>
                  <a href="../skills/skills.html">
                    <div class="skillsbutton" role="button">
                      Skills
                    </div>
                  </a>
                  <a href="../projects/projects.html">
                    <div class="projectsbutton" role="button">   
                      Projects                      
                    </div>
                  </a>
                  <a href="../contact/contact.html">
                    <div class="contactbutton" role="button">
                      Contact
                    </div>
                  </a>
                </div>
            </nav>
        <main class="text-area">
              <div class="content">
                <div class="description">
                  <h2>Mobile Payment UI</h2>
                  <hr class="solid">
                  <div class="project">
                    <p>
                      A series of mockups and prototypes for the payment system of a mobile
                      banking application. <br><br>
                      I completed this project as part of a larger study on the UI/UX development process.
                    </p>
                  </div>
                  <a href="./project2/project2.html"><h2 class="see-more">See More</h2></a>
                </div>
                <img src="../../assets/images/project-images/project2-images/bankthumb.png" alt="project1-pic" class="thumb-img">
              </div>
              <div class="content">
                <div class="description">
                  <h2>Patient Record System</h2>
                  <hr class="solid">
                  <div class="project"></div>
                    <p>
                      A proof of concept for the patient management system of a healthcare provider. <br><br>
                      This program was created with JavaScript and designed to be executed fully within the
                      node.js environment.
                    </p>
                    <a href="./project3/project3.html"><h2 class="see-more">See More</h2></a>
                  </div>
                  <img src="../../assets/images/project-images/project3-images/patientthumb.png" alt="project1-pic" class="thumb-img">
                </div>
              <div class="content">
                <div class="description">
                  <h2>Groundwater Infographics</h2>
                  <hr class="solid">
                <p>
                  A series of science infographics made for Land Air Water Aotearoa. <br><br>
                  I designed and created these infographics as part of an online 2020 
                  information campaign about groundwater processes.
                </p>
                <a href="./project1/project1.html"><h2 class="see-more">See More</h2></a>
                </div>
                <img src="../../assets/images/project-images/project1-images/lawathumb.png" alt="project1-pic" class="thumb-img">
              </div>
            </div>
        </main>
    </div>
    <footer class="home-footer">
          <p class="links">
              <a href="https://github.com/DWDDover" aria-label="GitHub Profile">GitHub <i class="fa-brands fa-github"></i></a>
              <a href="https://www.linkedin.com/in/declan-d-164638351/" aria-label="LinkedIn Profile">LinkedIn <i class="fa-brands fa-linkedin"></i></a>
            </p>
            <p class="copyright">
                Written by Declan Dover &copy; 2025 All Rights Reserved
            </p>
        </footer>
  </body>
</html>