.decorative {
    font-size: clamp(5vw, 65pt, 10vw);
    font-weight: 900;
}

.title-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.project-thumb {
    height: 40%;
    max-width: max(25vw, auto);
    object-fit: cover;
    border: 3px solid color-mix(in srgb, var(--color-text) 60%, black 40%);
    place-self: center;
}

.project.hidden {
    display: none;
    width: 0px;
}

.project.expanded {
    display: flex;
}

.content.hidden {
    display: none;
    width: 0px;
}

.expander {
    display: none;
    margin: min(2em, 8%);
    transition: 1s;
}

.expander.hidden {
    display: none;
    width: 0px;
}

.expander.expanded {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
}

.content.expanded {
    display: flex;
}

.content-container > div:nth-child(2n+1) div button {
    border: none;
    background-color: var(--color-background);
    color: var(--color-text);
}

.content-container > div:nth-child(2n+1) div button:hover {
    background-color: var(--color-accent);
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 7px 6px 0 0 color-mix(in srgb, var(--color-text) 60%, black 40%);
}

.content-container > div:nth-child(2n+1) div button:active {
    box-shadow: inset 7px 6px 0 0 color-mix(in srgb, var(--color-text) 60%, black 40%);
    transition: 0.5s;
}

.expand, .collapse {
    width: 60%;
    place-self: center;
}

.expand.hidden {
    display: none;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
}

@media only screen and (max-width: 800px) {
    .title-container {
    display: flex;
    flex-direction: column;
    }
    .content-container {
        flex-direction: column;
        /* display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: none; */
    }
    .expander {
        margin: 0;
    }
}
