.decorative {
    font-size: clamp(4vw, 65pt, 10vw);
    font-weight: 900;
}

.title-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.project-thumb {
    height: 40%;
    max-width: max(25vw, auto);
    object-fit: cover;
    border: 3px solid color-mix(in srgb, var(--color-text) 60%, black 40%);
    place-self: center;
}

.project.hidden {
    display: none;
}

.project.expanded {
    display: flex;
}

.content.hidden {
    width: 0px;
    flex: 0;
    transition: 0.5s ease-in-out;
    opacity: 0;
}

.expander {
    display: none;
    width: 0px;
    margin-left: 0 min(4em, 8%);
    flex: 1;
}

.content .expander:first-of-type {
    margin-left: 0;
}

.content .expander:last-of-type {
    margin-right: 0;
}

.expander.expanded {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    translate: none;
    width: auto;
}

.content.expanded {
    display: flex;
}

.expander.hidden {
    display: none;
    width: 0px;
}

.content {
    height: 650px;
    flex: 1;
}

.content-container > div:nth-child(2n+1) div button {
    border: none;
    background-color: var(--color-background);
    color: var(--color-text);
    border: 2px solid color-mix(in srgb, var(--color-text) 60%, black 40%);
}

.content-container > div:nth-child(2n+1) div button:hover {
    background-color: var(--color-accent);
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 7px 6px 0 0 color-mix(in srgb, var(--color-text) 60%, black 40%);
}

.content-container > div:nth-child(2n+1) div button:active {
    box-shadow: inset 7px 6px 0 0 color-mix(in srgb, var(--color-text) 60%, black 40%);
    transition: 0.5s;
}

.expand, .collapse {
    width: 15vw;
    place-self: center;
}

.expand.hidden {
    display: none;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
}

@media only screen and (max-width: 800px) {
    .title-container {
        display: flex;
        flex-direction: column;
    }
    .content-container {
        flex-direction: column;
        min-width: none;
    }
    .expander {
        margin: 0;
        min-width: none;
        flex: none;
    }
    .expander.hidden {
        display: none;
    }
    .content.hidden {
        display: none;
    }
    .content {
        flex-direction: column;
        height: auto;
        min-width: none;
    }
    .project-thumb {
    height: auto;
    max-width: max(25vw, auto);
    object-fit: cover;
    border: 3px solid color-mix(in srgb, var(--color-text) 60%, black 40%);
    place-self: center;
}
}
