.decorative {
    font-size: clamp(5vw, 65pt, 10vw);
    font-weight: 900;
}

.title-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.content-container {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.project-thumb {
    height: 40%;
    object-fit: cover;
    border: 3px solid var(--color-accent);
    place-self: center;
}

.expanded {
    max-width: 0;
}

.content-container > div:nth-child(2n+1) .project .expand {
    border: none;
    background-color: var(--color-background);
    color: var(--color-text);
}

.content-container > div:nth-child(2n+1) .project .expand:hover {
    background-color: var(--color-accent);
    transform: scale(1.05);
    transition: 0.5s;
    cursor: pointer;
}

.expand {
    width: 60%;
    place-self: center;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media only screen and (max-width: 800px) {
    .title-container {
    display: flex;
    flex-direction: column;
    }
    .content-container {
        flex-direction: column;
        /* display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: none; */
    }
}
